/*--------------------------------------------------------------
# Font face
--------------------------------------------------------------*/
@font-face {
    font-family: 'Gagalin';
    src: url('../fonts/Gagalin-Regular.eot');
    src: local('РІВС”'), url('../fonts/Gagalin-Regular.woff') format('woff'), url('../fonts/Gagalin-Regular.ttf') format('truetype'), url('../fonts/Gagalin-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  .logo-text{
    color: #fff;
    font-family: 'Gagalin';
    line-height: 25px;
    font-size: 24px;
    margin-left: 10px;
  }
  .block-title h3{
    font-family: 'Gagalin';
  }
  .banner-title{
    font-family: 'Gagalin'!important;
  }